@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.title-wrapper {
    text-align: center;
    padding: 50px 30px 0 30px;
    font-family: 'Poppins', sans-serif;
}

.title-wrapper h1 {
    margin-bottom: 20px;
}

.problem-wrapper {
    text-align: center;
}

.problem-number-wrapper {
    margin-bottom: 30px;
}

.audio-wrapper {
    text-align: center;
}

.problem-container {
    padding-left: 10%;
    margin: 45px;
}

.submit-bt-wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.submit-bt {
    width: 150px;
    height: 35px;
    background: linear-gradient(45deg, #cf94dd, #7cd9ce);
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.input-flex-wrapper {
    width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    cursor: pointer;
}

.audio-wrapper {
    display: none;
}

.problem-container h3 {
    text-align: center;
    margin-top: -30px;
}

@media screen and (max-width:480px) {
    .input-flex-wrapper {
        width: 150px;
    }

    .problem-container {
        padding-left: 0;
    }

    .problem-container h3 {
        text-align: center;
    }
}

body {
    background: linear-gradient(90deg, #79a8d7, #d483b1);
    background-size: 200% 200%;
    animation: bggradient 9s ease infinite;
}

@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}




.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}


.radio-label input[type=radio].radio {
    display: none;
}

.radio-label {
    position: relative;
    margin: 10px;
}

.radio-label .label-check {
    position: relative;
    display: block;
    padding-left: 35px;
    cursor: pointer;
}

.radio-label .label-check:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    width: 18px;
    height: 18px;
}

.radio-label input[type=radio].radio:checked+.label-check:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    display: block;
    margin: auto;
}

.radio-label .label-check.check:before {
    border: 1px solid #ddd;
}

.radio-label input[type=radio].radio:checked+.label-check.check:after {
    top: -10px;
    width: 12px;
    height: 24px;
    border-bottom: 5px solid #4abdac;
    border-right: 4px solid #4abdac;
    transform: rotate(45deg);
}
