@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}

.title-wrapper {
    text-align: center;
    padding: 50px 30px 0 30px;
    font-family: 'Poppins', sans-serif;
}

.title-wrapper h1 {
    margin-bottom: 20px;
}

.problem-wrapper {
    text-align: center;
}

.problem-number-wrapper {
    padding-left: 10%;
    margin-bottom: 30px;
}

.audio-wrapper {
    text-align: center;
}

.problem-container {
    margin: 45px;
}

.submit-bt-wrapper {
    text-align: center;
    margin-bottom: 50px;
}

.submit-bt {
    width: 150px;
    height: 35px;
    background: linear-gradient(45deg, #cf94dd, #7cd9ce);
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.input-flex-wrapper {
    width: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    cursor: pointer;
}

.audio-wrapper {
    display: none;
}

@media screen and (max-width:480px) {
    .input-flex-wrapper {
        width: 150px;
    }
}

body {
    background: linear-gradient(90deg, #79a8d7, #d483b1);
    background-size: 200% 200%;
    animation: bggradient 9s ease infinite;
}

@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
