@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.title-wrapper {
    margin-top: 42vh;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, #79a8d7, #d483b1);
    background-size: 200% 200%;
    animation: bggradient 9s ease infinite;
}

@keyframes bggradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
